@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@font-face {
  font-family: "Poppins", sans-serif;
  src: local("Poppins");
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
  position: relative;
}

body {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: rgb(249, 248, 243);
}

.page {
  max-width: 1440px;
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 1rem);
  background-color: lightcoral;
  display: block;
  font-family: Poppins;
}

.nav {
  width: 100%;
  display: flex;
  position: fixed;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  display: none;
  flex-direction: column;
  height: 2rem;
  cursor: pointer;
  margin-top: 1.5rem;
  margin-left: 110rem;
}

.burger__line {
  width: 2.25rem;
  height: 3px;
  margin: 3px;
  background-color: rgb(68, 103, 169);
  transition: 0.3s;
}

.burger__line--two {
  transition: 0s;
}

.nav-toggle-label.active .burger__line--one {
  transform: rotate(-45deg) translate(-6px, 7px);
}

.nav-toggle-label.active .burger__line--two {
  visibility: hidden;
}

.nav-toggle-label.active .burger__line--tree {
  transform: rotate(45deg) translate(-5px, -7px);
}

.main-menu__link {
  text-decoration: none;
}

.main-menu__link:active,
.main-menu__link:hover {
  color: rgb(163, 163, 163);
}

nav.main-menu.active {
  width: 100%;
  transform: scaleX(1);
  transition: all 0.3s ease;
}

.nav-toggle-label {
  display: flex;
}

.main-menu {
  position: absolute;
  text-align: center;
  background: rgb(68, 103, 169);
  top: 8rem;
  left: 0;
  width: 0;
  z-index: 2;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.3s ease;
  padding: 6rem 0;
}

.main-menu__link {
  display: block;
  color: rgb(249, 248, 243);
  padding: 1.25rem;
  font-size: 1.75rem;
}

.main {
  background-image: url("/img/Section_hero1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: pink;
  height: 45.5rem;
  width: 90rem;
}
.main__container__gif {
  padding-top: 30.5rem;
  padding-left: 42.5rem;
}
.main__container__btn {
  margin: -10rem 0 0 65rem;
}
.main__container__btn:hover {
  rotate: 180deg;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.details {
  display: flex;
  flex-wrap: wrap;
}
.details__container {
  display: flex;
  flex-wrap: wrap;
}
.details__container__img {
  width: 49rem;
}
.details__container__info {
  align-items: flex-start;
  padding: 10rem 3rem 0 3rem;
}
.details__container__heading {
  font-size: 3.75rem;
  color: rgb(38, 118, 81);
  font-weight: 500;
  padding-bottom: 2.5rem;
}
.details__container__subheader {
  font-size: 2.25rem;
  line-height: 110%;
}
.details__container__text {
  font-size: 1.5rem;
  line-height: 130%;
  padding-bottom: 2rem;
}
.details__container__link {
  padding-top: 0.5rem;
}

.receiver {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(188, 230, 173);
}
.receiver__container {
  display: flex;
  flex-wrap: wrap;
}
.receiver__container__img {
  width: 48.75rem;
  display: flex;
  flex-wrap: wrap;
}
.receiver__container__info {
  width: 34.5rem;
  align-items: flex-start;
  padding: 10rem 3rem 0 3rem;
}
.receiver__container__heading {
  font-size: 3.75rem;
  color: rgb(38, 118, 81);
  padding-bottom: 2.5rem;
  font-weight: 500;
}
.receiver__container__text {
  font-size: 1.25rem;
  align-items: flex-start;
  padding-bottom: 4.25rem;
  line-height: 130%;
}

.btn {
  margin: 0 auto;
  display: block;
}

.btn:hover {
  rotate: 180deg;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.about {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(159, 158, 158);
}
.about__container {
  display: flex;
  flex-wrap: wrap;
}
.about__container__img {
  width: 49rem;
  display: flex;
  flex-wrap: wrap;
}
.about__container__info {
  width: 28.5rem;
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 10rem 3rem 0 3rem;
}
.about__container__heading {
  font-size: 3.5rem;
  padding-bottom: 2.5rem;
  color: rgb(38, 118, 81);
  font-weight: 500;
}
.about__container__text {
  font-size: 1.5rem;
  align-items: flex-start;
  line-height: 130%;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  background: rgb(38, 118, 81);
  padding: 6rem 2.5rem;
}
.contact__container {
  display: flex;
  flex-wrap: wrap;
}
.contact__container__img {
  height: 29.5rem;
  width: 40.75rem;
  display: flex;
  flex-wrap: wrap;
  background-image: url(../img/eye.png);
  background-size: cover;
  margin: 2rem;
}
.contact__container__img:hover {
  height: 29.5rem;
  width: 40.75rem;
  background-image: url(../img/eye.gif);
  background-size: 85%;
  background-position: center;
  background-repeat: no-repeat;
}
.contact__container__info {
  width: 34.25rem;
  padding: 2.5rem 2.5rem 0px 2.5rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  color: rgb(249, 248, 243);
}
.contact__container__heading {
  font-size: 3.5rem;
  padding-bottom: 5rem;
}
.contact__container__text {
  font-size: 1.5rem;
  align-items: flex-start;
}

.span {
  font-weight: 500;
}

.phone {
  padding: 1.5rem 0;
}

.email {
  color: rgb(249, 248, 243);
}

.footer {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(175, 234, 207);
}
.footer__container {
  display: flex;
  flex-wrap: wrap;
}
.footer__container__thumbs {
  display: flex;
  flex-wrap: wrap;
}
.footer__container__img--cloud {
  height: 23.25rem;
  margin-top: 4rem;
}
.footer__container__img--triangle {
  height: 24.5rem;
  margin: 16.5rem 0 0 -6.25rem;
}
.footer__container__img--sun {
  height: 23.25rem;
  margin: 8rem 0 0 -9.25rem;
}
.footer__container__img--bbc {
  height: 21.25rem;
  margin-top: 2.5rem;
}
.footer__container__img--triangle:hover, .footer__container__img--bbc:hover {
  cursor: pointer;
  transform: scale(1.3);
  transition: 0.5s ease-in-out;
}
.footer__container__img--cloud:hover, .footer__container__img--sun:hover {
  cursor: pointer;
  rotate: 25deg;
  transition: 0.5s ease-in-out;
}
.footer__container__info {
  display: flex;
  padding-bottom: 2rem;
  width: 100%;
  flex-direction: row-reverse;
}
.footer__container__text {
  font-size: 1.25rem;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-end;
}
.footer__container__heading {
  font-size: 3.5rem;
}/*# sourceMappingURL=style.css.map */