@use "fonts";
@use "mixins" as m;
@use "reset";
@use "variables" as v;

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: rgb(243, 223, 126);
}

.page {
  max-width: 1140px;
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 1rem);
  background-color: lightcoral;
  //   flex-direction: ;
  display: block;
}

.nav {
  width: 100%;
  display: flex;
  position: fixed;
}

.main {
  background-image: url("/img/hero.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: pink;
  height: 730px;
  width: 1360px;
}

.details {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 1360px;
  background-color: lightblue;

  &__container {
    display: flex;
    flex-wrap: wrap;
  }

  &__container__img {
    width: 785px;
  }
  &__container__info {
    width: 554px;
    text-align: center;
  }
  &__container__heading {
    font-size: 58px;
    padding-top: 160px;
  }
  &__container__subheader {
    font-size: 36px;
  }
  &__container__text {
    font-size: 22px;
  }
}

.receiver {
  display: flex;
  flex-wrap: wrap;
  //   align-items: center;
  width: 1360px;
  background-color: rgb(188, 230, 173);

  &__container {
    display: flex;
    flex-wrap: wrap;
  }

  &__container__img {
    width: 702px;
    display: flex;
    flex-wrap: wrap;
  }
  &__container__info {
    width: 554px;
    text-align: center;
    padding: 160px 48px 0px 48px;
  }
  &__container__heading {
    font-size: 58px;
    padding-top: 160px;
  }
  &__container__text {
    font-size: 22px;
    align-items: flex-start;
  }
}

.btn {
  align-items: center;
}

.about {
  display: flex;
  flex-wrap: wrap;
  //   align-items: center;
  width: 1360px;
  background-color: rgb(159, 158, 158);

  &__container {
    display: flex;
    flex-wrap: wrap;
  }

  &__container__img {
    width: 700px;
    display: flex;
    flex-wrap: wrap;
  }
  &__container__info {
    width: 554px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    // align-items: flex-start;
    // align-items: center;
    padding: 160px 48px 0px 48px;
  }
  &__container__heading {
    font-size: 58px;
    padding-top: 160px;
  }
  &__container__text {
    font-size: 22px;
    align-items: flex-start;
  }
}

.contact {
  display: flex;
  flex-wrap: wrap;
  width: 1360px;
  background-color: rgba(38, 118, 81, 1);

  &__container {
    display: flex;
    flex-wrap: wrap;
  }

  &__container__img {
    height: 508px;
    display: flex;
    flex-wrap: wrap;
  }
  &__container__info {
    width: 554px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    // align-items: flex-start;
    // align-items: center;
    padding: 0px 48px 0px;
  }
  &__container__heading {
    font-size: 58px;
    padding-top: 160px;
  }
  &__container__text {
    font-size: 22px;
    align-items: flex-start;
  }
}

.footer {
  display: flex;
  flex-wrap: wrap;
  width: 1360px;
  background-color: rgb(175, 234, 207);

  &__container {
    display: flex;
    flex-wrap: wrap;
  }

  &__container__img {
    height: 300px;
    display: flex;
    flex-wrap: wrap;
  }

  &__container__heading {
    font-size: 22px;
    padding-top: 200px;
    flex-wrap: wrap;
    flex-direction: column;
  }
  &__container__text {
    font-size: 58px;
  }
}
