@use "fonts";
@use "mixins" as m;
@use "reset";
@use "variables" as v;

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: v.$magnolia;
}

.page {
  max-width: 1440px;
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 1rem);
  background-color: lightcoral;
  display: block;
  font-family: v.$font-primary;
}

.nav {
  width: 100%;
  display: flex;
  position: fixed;
}
// .menu {
//   width: 56px;
//   padding: 16px 12px;
//   cursor: pointer;
// }

.main {
  background-image: url("/img/hero.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: pink;
  height: 45.5rem;
  width: 90rem;
}

.details {
  display: flex;
  flex-wrap: wrap;

  &__container {
    display: flex;
    flex-wrap: wrap;
  }

  &__container__img {
    width: 49rem;
  }
  &__container__info {
    align-items: flex-start;
    padding: 10rem 3rem 0 3rem;
  }
  &__container__heading {
    font-size: 3.75rem;
    color: v.$green;
    font-weight: 500;
    padding-bottom: 2.5rem;
  }
  &__container__subheader {
    font-size: 2.25rem;
    line-height: 110%;
  }
  &__container__text {
    font-size: 1.5rem;
    line-height: 130%;
    padding-bottom: 2rem;
  }
  &__container__link {
    padding-top: 0.5rem;
  }
}

.receiver {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(188, 230, 173);

  &__container {
    display: flex;
    flex-wrap: wrap;
  }

  &__container__img {
    width: 48.75rem;
    display: flex;
    flex-wrap: wrap;
  }
  &__container__info {
    width: 34.5rem;
    align-items: flex-start;
    padding: 10rem 3rem 0 3rem;
  }
  &__container__heading {
    font-size: 3.75rem;
    color: v.$green;
    padding-bottom: 2.5rem;
    font-weight: 500;
  }
  &__container__text {
    font-size: 1.25rem;
    align-items: flex-start;
    padding-bottom: 4.25rem;
    line-height: 130%;
  }
}

.btn {
  margin: 0 auto;
  display: block;
}
.btn:hover {
  rotate: 180deg;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.about {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(159, 158, 158);

  &__container {
    display: flex;
    flex-wrap: wrap;
  }

  &__container__img {
    width: 49rem;
    display: flex;
    flex-wrap: wrap;
  }
  &__container__info {
    width: 28.5rem;
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10rem 3rem 0 3rem;
  }
  &__container__heading {
    font-size: 3.5rem;
    padding-bottom: 2.5rem;
    color: v.$green;
    font-weight: 500;
  }

  &__container__text {
    font-size: 1.5rem;
    align-items: flex-start;
    line-height: 130%;
  }
}

.contact {
  display: flex;
  flex-wrap: wrap;
  background: v.$green;
  padding: 6rem 2.5rem;

  &__container {
    display: flex;
    flex-wrap: wrap;
  }

  &__container__img {
    height: 29.5rem;
    width: 40.75rem;
    display: flex;
    flex-wrap: wrap;
    background-image: url(../img/eye.png);
    background-size: cover;
    margin: 2rem;
  }
  &__container__img:hover {
    height: 29.5rem;
    width: 40.75rem;
    background-image: url(../img/eye.gif);
    background-size: 85%;
    background-position: center;
    background-repeat: no-repeat;
  }
  &__container__info {
    width: 34.25rem;
    padding: 2.5rem 2.5rem 0px 2.5rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    color: v.$magnolia;
  }
  &__container__heading {
    font-size: 3.5rem;
    padding-bottom: 5rem;
  }
  &__container__text {
    font-size: 1.5rem;
    align-items: flex-start;
  }
  .span {
    font-weight: 500;
  }
  .phone {
    padding: 1.5rem 0;
  }
  .email {
    color: v.$magnolia;
  }
}

.footer {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(175, 234, 207);

  &__container {
    display: flex;
    flex-wrap: wrap;
  }

  &__container__thumbs {
    display: flex;
    flex-wrap: wrap;
  }

  &__container__img--cloud {
    height: 23.25rem;
    margin-top: 4rem;
  }
  &__container__img--triangle {
    height: 24.5rem;
    margin: 16.5rem 0 0 -6.25rem;
  }
  &__container__img--sun {
    height: 23.25rem;
    margin: 8rem 0 0 -9.25rem;
  }
  &__container__img--bbc {
    height: 21.25rem;
    margin-top: 2.5rem;
  }

  &__container__img--triangle:hover,
  &__container__img--bbc:hover {
    cursor: pointer;
    transform: scale(1.3);
    transition: 0.5s ease-in-out;
  }
  &__container__img--cloud:hover,
  &__container__img--sun:hover {
    cursor: pointer;
    rotate: 25deg;
    transition: 0.5s ease-in-out;
  }

  &__container__info {
    display: flex;
    padding-bottom: 2rem;
    width: 100%;
    flex-direction: row-reverse;
  }
  &__container__text {
    font-size: 1.25rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-end;
  }
  &__container__heading {
    font-size: 3.5rem;
  }
}
